header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;    
    padding: 40px 0px;
    position: relative;
}

.header-links{
    display: flex;
    list-style: none;
    gap: 40px;
}

.green-text{
    color: var(--color-green-primary);
}

.header-item{
    text-decoration: none;
    color: var(--color-black-opacity); 
    display: inline-block;
    position: relative;
    transition: transform 0.2s ease;
}

.header-item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--color-green-primary);
  transition: width 0.2s ease;
}

.header-item:hover::after {
  width: 100%;
}

.header-button-container{
    display: flex;   
    gap: 24px;
    align-items: center;
}

.header-button-iconbox{
    display: flex;
    width: 95px;
    height: 40px;
    gap: 5px;
}

.header-button-icon{
    border: 0;
    background-color: transparent;   
    cursor: pointer;     
}

.header-button-icon img {
  transition: transform 0.3s ease;
}

.header-button-icon img:hover {
  transform: translateY(-4px) scale(1.1);
}

.header-button-login{
    width: 105px;
    height: 51px;
    border: 1px solid var(--color-green-primary);
    border-radius: 10px;
    background-color: transparent;
    color: var(--color-green-primary);
    cursor: pointer;
    transition: 0.5s ease;
}

.header-button-login:hover{
    color: white;
    border: white;
    background-color: var(--color-green-primary);
}

.theme-toggle{
    margin-left: auto;
    background-color: transparent;
    border: 1px solid;
    border-radius: 25px;
    padding: 5px 10px;
    color: inherit;
    cursor: pointer;
    transition: 0.1s ease;
}

body.dark .theme-toggle{
    color: white;
    border-color: white;
}

/*Mobile*/

.hamburguer{
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 50;
}

.dropdown-menu{
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: var(--color-white);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.dropdown-menu.open{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    width: 50%;
    padding: 30px;    
}

body.dark .dropdown-menu{
    background-color: #222;
    box-shadow: 0 4px 16px rgba(255, 255, 255, 0.7);
}


@media(max-width: 480px){
    .header-links{
        flex-direction: column;
    }
    .hamburguer{
        display: block;
    }
        
    .header-button-container{
        display: none;
    }

    .dropdown-buttons{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
        align-items: flex-start;
    }

    .header-button-iconbox{
        gap: 10px;
    }

    .header-button-login{
        width: 100%;
    }
}