.subscribe-bg{
    background-color: var(--color-white-BG);
    display: flex;    
    padding: 100px 326px;
    margin-top: 60px;
    justify-content: center;    
}

.subscribe-container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 60px;
    height: 224px;
}

.subscribe-text{    
    text-align: center;
}

.subscribe-text h2{
    font-size: var(--headline2);
    margin: 0;
}

.subscribe-text p{
    font-size: var(--body-regular1);
    color: var(--color-black-opacity);
}

.subscribe-form{
    position: relative;
    display: flex;
    
}
.subscribe-input{      
    width: 688px;
    height: 80px; 
    border-radius: 8px;
    background-color: var(--color-white);
    border: 1px solid #C1C1C1 ;
    padding: 8px 8px 8px 24px;    
}

.subscribe-input::placeholder{
    color: var(--color-gray-black);
    font-size: var(--body-regular1);
}

.subscribe-button{
    width: 174px;
    height: 61px;
    background-color: var(--color-green-primary);
    color: var(--color-white);
    cursor: pointer; 
    font-size: 24px;
    border-radius: 8px;
    border: 0;    
    position: absolute;
    top: 9px;
    left: 500px;
    transition: 0.3s ease;
}

.subscribe-button:hover{
    background-color: var(--color-white);
    color: var(--color-green-primary);
    border: 2px solid var(--color-green-primary);
}

@media(max-width: 480px){
    .subscribe-bg{
        padding: 20px;
        height: 400px;
    }
    .subscribe-form input{
        width: 400px;
    }

    .subscribe-button{
        top: 100px;
        left: 100px;
    }
}