.special-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.special-container h2{
    font-size: var(--headline2);
    font-weight: bold;
    margin-bottom: 30px;
}

.special-dishes-container{
    display: flex;
    width: 1240px;
    height: 483px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.special-img{
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, .05); */
    width: 400px;
    height: 483px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.dark .special-img{
    background-color: rgba(20, 172, 15, 0.05);
}

.dark .special-img:hover{
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.special-img.show {
  animation: fadeUp 0.6s ease forwards;
}

.special-img.show:nth-child(1) {
  animation-delay: 0s;
}

.special-img.show:nth-child(2) {
  animation-delay: 0.2s;
}

.special-img.show:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes fadeUp {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.special-img:hover{
    transform:  translateY(-8px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.special-img h3{
    font-size: var(--headline3);
    margin: 0;
}

.special-img p{
    display: flex;
    width: 279px;
    height: 58px;
    font-size: var(--body-regular1);
    color: var(--color-black-opacity);
}

.special-img button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 53px;
    background-color: var(--color-green-primary);
    color: var(--color-white);
    cursor: pointer; 
    font-size: var(--body-regular1);
    border: 0;
    border-radius: 8px;
    margin-top: 10px;
    transition: 0.3s ease;
}

.special-img button:hover{
    background-color: var(--color-white);
    color: var(--color-green-primary);
    border: 2px solid var(--color-green-primary);
}

@media(max-width: 480px){
    .special-container{
        margin-top: 100px;
        height: 1800px;
        gap: 500px;
        padding: 40px;
        justify-content: start;
    }
    .special-dishes-container{
        flex-direction: column;
        gap: 50px;
    }

    .special-img.show {
        padding: 20px;
    }
}